* {
    margin: 0;
    padding: 0;
    line-height: 2em;
}
.bg {
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


form {
    background-color: rgba(255, 255, 255, 0.3);
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 3em 0;
   align-items: center;
   border-radius: 8%;
}
form input{
    border-radius: 50px;
    border: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

form>* {
    width: 50%;
    text-align: center;
}
.valider  {
    margin-top: 1.5em;
    background-color:#3edf89;
	border-radius:28px;
	border:1px solid #3edf89;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    padding:0.8em 1.6em;
	text-decoration:none;
    font-size: 1.2em;
}

.valider:hover{
    background-color:#52df94;
}

